{% extends "main.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container w-50">
<h1>Login:</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" style="background-color: #a2d2ff;">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password:</label>
      <input type="password" name="password" required class="form-control" id="exampleInputPassword1" style="background-color: #a2d2ff;">
    </div>
    <button type="submit" class="btn btn-outline-dark">Login</button>
  </form>
  <br>
  <h2>New User?</h2>
  <h4><a href="{% url 'register' %}" class="link-primary">Sign Up</a></h4>
</div>

{% endblock content %}
